/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 32px;
}

h3 {
    color: #777;
}

.transaction-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input {
    width: 35%;
}

select {
    width: 40%;
}

button {
    width: 20%;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
    margin: 20px 0;
    font-size: 24px;
}

.transactions {
    margin-top: 20px;
}

.transactions ul {
    list-style-type: none;
    padding: 0;
}

.transactions li {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.transactions li.income {
    background-color: #d4f8e8;
}

.transactions li.expense {
    background-color: #ffebeb;
}

.transactions li span {
    font-weight: bold;
}

.transactions li button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.transactions li button:hover {
    background-color: #e53935;
}

/* Responsive Design */
@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    input, select, button {
        width: 30%;
    }

    .transaction-input {
        flex-direction: column;
        align-items: stretch;
    }
}
